CREATE TABLE IF NOT EXISTS Address (
	id INTEGER PRIMARY KEY AUTOINCREMENT,
	street TEXT NOT NULL,
	number TEXT NOT NULL,
	zip_code TEXT NOT NULL,
	city TEXT NOT NULL,
	country TEXT NOT NULL,
	additional_info TEXT,
	longitude REAL NOT NULL CHECK(longitude BETWEEN -180 AND 180),
	latitude REAL NOT NULL CHECK(latitude BETWEEN -90 AND 90)
);

CREATE TABLE IF NOT EXISTS Menu (
	id INTEGER PRIMARY KEY AUTOINCREMENT
);

CREATE TABLE IF NOT EXISTS Restaurant (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
	menu_id INTEGER NOT NULL,
	address_id INTEGER NOT NULL,
    webhook_url TEXT NOT NULL,
    title_image_path TEXT NOT NULL,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
	FOREIGN KEY (menu_id) REFERENCES Menu(id),
	FOREIGN KEY (address_id) REFERENCES Address(id)
);

CREATE TABLE IF NOT EXISTS OpeningHourSlot (
	id INTEGER PRIMARY KEY AUTOINCREMENT,
	restaurant_id INTEGER NOT NULL,
	day_of_week INTEGER NOT NULL CHECK(day_of_week BETWEEN 0 AND 6),
	open_time TEXT NOT NULL,
	close_time TEXT NOT NULL,
	FOREIGN KEY (restaurant_id) REFERENCES Restaurant(id) ON DELETE CASCADE
);

CREATE TABLE IF NOT EXISTS MenuCategory (
	id INTEGER PRIMARY KEY AUTOINCREMENT,
	name TEXT NOT NULL UNIQUE
);

CREATE TABLE IF NOT EXISTS MenuItem (
	id INTEGER PRIMARY KEY AUTOINCREMENT,
	menu_id INTEGER NOT NULL,
	category_id INTEGER NOT NULL,
	name TEXT NOT NULL,
	description TEXT,
	price REAL NOT NULL CHECK(price >= 0),
	created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
	FOREIGN KEY (category_id) REFERENCES MenuCategory(id),
	FOREIGN KEY (menu_id) REFERENCES Menu(id) ON DELETE CASCADE
);

CREATE TABLE IF NOT EXISTS DeliveryZone (
	id INTEGER PRIMARY KEY AUTOINCREMENT,
	restaurant_id INTEGER NOT NULL,
	min_order_value REAL NOT NULL CHECK(min_order_value >= 0),
	max_distance REAL NOT NULL CHECK(max_distance >= 0),
	FOREIGN KEY (restaurant_id) REFERENCES Restaurant(id) ON DELETE CASCADE
);

CREATE TABLE IF NOT EXISTS DeliveryFeeRule (
	id INTEGER PRIMARY KEY AUTOINCREMENT,
	delivery_zone_id INTEGER NOT NULL,
	max_order_value REAL NOT NULL CHECK(max_order_value >= 0),
	delivery_fee REAL NOT NULL CHECK(delivery_fee >= 0),
	FOREIGN KEY (delivery_zone_id) REFERENCES DeliveryZone(id) ON DELETE CASCADE
);